<tr class="items">
	<td>{{ form_widget(form.rangoInicial) }}</td>
  <td>{{ form_widget(form.rangoFinal) }}</td>    
  <td>{{ form_widget(form.precio) }}</td>    
  <td><a href="javascript:void(0)" class="btn btn-danger remove-item" ><i class="fa fa-trash"></i></a></td>
  {#{{ form_widget(form.producto) }}#}
</tr>