{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}

	<div class="panel panel-success" style="margin-top:1%;margin-left:20%;margin-right:20%;"> 
		<div class="panel-heading"> 
			<h3 class="panel-title">Restablecer contraseña</h3>
			<br>
			<h5>Solo los usuarios pueden recuperar su contraseña, los vendedores y almaceneros deben solicitar al usuario Administrador de su empresa el cambio de su contraseña.</h5>
		</div> 
		<div class="panel-body">

		  {% include "@FOSUser/Resetting/request_content.html.twig" %}
		</div> 
	</div>  
     

{% endblock fos_user_content %}
